{% extends "base.html" %}
{% load static %}

{% block body_class %}team-container{% endblock %}

{% block main_content %}
<div class="team-banner">
  <a href="index.html" class="back-container">
    <img src="{% static 'images/logo.png' %}" alt="rmotr.com">
  </a>

  <p class="title">
    {{ monitor_team.icon_html|safe }}
    {{ monitor_team.currency_name }} ({{ monitor_team.symbol|upper }})
  </p><br>
  <p class="title">$<span class="js-price-{{ monitor_team.symbol|lower }}">---</span></p>
</div>

<section class="team-body">
  <div class="row">
    <div class="col-md-7">
      <div class="card transactions">
        <p class="title">
          <span class="fas fa-exchange-alt icon"></span>
          Last transactions
        </p>
        <table class="table table-hover js-transactions-table">
          <thead>
            <tr>
              <th scope="row"></th>
              <th>Member</th>
              <th>Amount</th>
              <th>Price</th>
              <th>UTC Time</th>
            </tr>
          </thead>
          <tbody class="js-transactions-tbody">
            {% for operation in operations %}
              <tr>
                {% if operation.user == request.user %}
                  <th scope="row"><i class="fa fa-user"></i></th>
                {% else %}
                  <th scope="row"></th>
                {% endif %}
                <td class="user">{{ operation.user.get_full_name }}</td>
                <td class="amount">{{ operation.amount }}</td>
                <td class="price">USD {{ operation.price }}</td>
                <td class="time">{{ operation.timestamp }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card buttons">
        <p class="title">
          <span class="fas fa-money-bill-alt icon"></span>
          Current budget: <span class="highlight">
            <span class="current-budget">UNLIMITED</span>
          </span>
        </p>

        <hr />

        <p class="title">Want to buy?</p>
        <div class="row">
          <div class="col-md-4">
            <button class="btn js-buy-button" data-amount='100' disabled>$100</button>
          </div>

          <div class="col-md-4">
            <button class="btn js-buy-button" data-amount='500' disabled>$500</button>
          </div>

          <div class="col-md-4">
            <button class="btn js-buy-button" data-amount='1000' disabled>$1000</button>
          </div>
        </div>
      </div>

      <div class="card chart">
        <p class="title">
          {{ monitor_team.icon_html|safe }}
          {{ monitor_team.currency_name }} ({{ monitor_team.symbol|upper }}) -
          <small>
            last price <span class="highlight js-last-price">USD <span class="js-price-{{ monitor_team.symbol|lower }}">---</span>
          </small>
        </p>

        <span id="chart-{{monitor_team.symbol|lower}}"></span>
      </div>

      <div class="card no-height">
        <p class="title">
          <span class="fas fa-users icon"></span>
          Who is here?
        </p>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th scope="row"></th>
            </tr>
          </thead>
          <tbody class='js-members'></tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_scripts_footer %}
  <script type="text/javascript">
    window.APP_CONF.page.symbol = '{{ monitor_team.symbol|lower }}';
  </script>
  <script src="{% static "team.js" %}" charset="utf-8"></script>
{% endblock %}
